<!-- begin template -->
<div class="navbar navbar-custom navbar-fixed-top">
    <div class="navbar-header"><a class="navbar-brand" href="#">Mapa Alerta</a>
        <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav" style="padding-right: 15px">
            <li class="active"><a href="#ocorrencias" data-toggle="tab" id="ocorrenciasLink">Ocorrências</a></li>
            <li><a href="#bairros" data-toggle="tab" id="bairrosLink">Bairros</a></li>
        </ul>
        <div class="navbar-form">
            <div class="form-group" style="display:inline;">
                <div class="input-group">
                    <span class="input-group-addon"><span class="fa fa-search"></span> </span>
                    <input type="text" class="form-control" placeholder="Bairro, Cidade, UF, País" id="busca">
                    <span class="input-group-addon"><span class="fa fa-globe"></span> </span>
                </div>
            </div>
        </div>
    </div>
</div>